@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
$main_text : 'Anton', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
$text_text : 'Tajawal', sans-serif;