html {
    font-family: $text_text;
    font-size: 10px;
}

body {
    -ms-overflow-style: none;
    background: #282828;
    width: 100%;
}

//스크롤바 안보이게 처리
::-webkit-scrollbar {
    display: none;
}

//^^nav 사이즈 조절
nav {
    font-size: 2.2rem;
}

/*--^^header 부분 css*/
#first {
    width: 100%;
    height: 100vh;
    position: relative;
    font-weight: 300;


    .head_bg_img {
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
        background: url(../img/head_bg.jfif) no-repeat center center;
        background-size: cover;
    }

    .head_text_main {
        width: 100%;
        font-size: 2.5rem;
        line-height: 1.3;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        text-align: center;
        

        a {
            font-size: 3rem;
            width: 20rem;
            border-radius: 4rem;
        }

        h2 {
            font-size: 4.5rem;
            letter-spacing: .7rem;
            font-family: $main_text;
        }
        
    }
}

/*--//header 부분 css*/

/*--^^content 부분 css*/
#Second {
    width: 100%;
    // height: 100vh;
    position: relative;
    color: #fff;
    font-size: 2.5rem;
    line-height: 1.3;
    font-weight: 300;

    .content-wrap {
        .content_box1 {
            background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
            text-align: center;
            padding: 12% 0;

            a {
                font-size: 3rem;
                width: 20rem;
                border-radius: 4rem;
            }

            h2 {
                font-size: 4.5rem;
                margin-bottom: .8rem;
                letter-spacing: .5rem;
                font-family: $main_text;
            }

        }

        .content_box2 {
            padding: 15% 0;
            // height: 50vh;

            h2 {
                font-size: 4.5rem;
                margin-bottom: .8rem;
                font-weight: 700;
            }

            h3 {
                font-size: 3rem;
                margin-bottom: .8rem;
            }

            p {
                font-size: 2rem;
            }
        }
    }


}

/*--//content 부분 css*/
#third {

    .img_box {
        width: 100%;
        height: 50rem;
        overflow: hidden;
        padding: 0;
        position: relative;
        z-index: 0;


        img {
            // @include 가상선;
            width: 100%;
            height: 100%;



        }

        .grayscale {
            -webkit-filter: grayscale(90%);
            filter: grayscale(90%);
        }

        .grayscale1 {
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
        }

        .blur {
            -webkit-filter: invert(100%);
            filter: invert(100%);
        }



        :hover.grayscale {
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
        }

        :hover.grayscale1 {
            -webkit-filter: grayscale(90%);
            filter: grayscale(90%);
        }

        :hover {
            border: 20px solid #282828;
        }

    }
}

#fourth {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
    background-blend-mode: multiply;
    color: #fff;
    margin: 5% 0;
    padding-bottom: 2%;


    h2 {
        font-size: 4.5rem;
        text-align: center;
        font-weight: 700;
    }

    h3 {
        font-size: 3.5rem;
        margin-bottom: .8rem;
        font-weight: 500;
    }

    p {
        font-size: 2rem;
    }

    hr {
        background: rgb(68, 65, 65);
    }
}


#contact {
    width: 100%;
    // height: 100vh;
    color: #fff;
    text-align: center;
    padding-bottom: 10%;

    .contact_main_text {
        margin: 0 auto;
        padding: 6rem 0;
        font-size: 6rem;
        color: #fff;
        text-transform: uppercase;
        letter-spacing:5rem;
        // font-family: $main_text;
        font-weight: 900;
    }

    img {
        width: 70%;
        height: 100%;
    }

    ul {
        padding-top: 8rem;

        li {
            font-size: 1.5rem;
            display: flex;
            align-items: center;

            i {
                padding-right: 3rem;
                display: inline-block;
            }
        }

        hr {
            margin: 2rem;
            background: rgb(68, 65, 65);
        }
    }
}

#footer{
    width: 100%;
    height: 100px;
    background: #000;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    #contact ul {
        padding-top: 1rem;
    }
    #third .img_box img {
        width: inherit;
        height: 80%;
    }
    #third .img_box {
        width: 100%;
        height: 50%;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    #third .img_box {
        width: 33%;
        height: 46%;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}